@media only screen and (max-width: 600px) {
    #services-container {
        flex-direction: column;
    }
    #services{
        flex-direction: column;
    }
    #services .box{ 
        flex-direction: column;
    }
    #mid .row img {
        flex-direction: column;
        visibility: hidden;
    }
}